<link
  href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap"
  rel="stylesheet"
/>
<section class="about">
  <div class="about-container">
    <div class="about-wrapper">
      <h2 class="about-title">About us</h2>
      <ul class="about-description">
        <li class="about-description-paragraph first">
          <p>
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies
            the very best in Swiss craftsmanship and engineering, ensuring that
            you'll always have a reliable and stylish accessory on your wrist.
          </p>
        </li>
        <li class="about-description-paragraph second">
          <p>
            At our premium watch collection, we believe that a watch is more
            than just a timekeeping device – it's a statement piece that
            reflects your personality and style. So why settle for anything less
            than the best? Browse our collection today and discover the perfect
            watch for you.
          </p>
        </li>
      </ul>
    </div>
    <div class="gif-thumb"></div>
  </div>
</section>
