<section class="section-catalog" id="catalog">
  <div class="container-catalog">
    <h2 class="title_catalog">Catalog</h2>
    <ul class="watches_catalog_ul">
      <li class="wrist_watch">
        <div class="card-container" data-1>
          <div class="front-side">
            <img
              class="watch_catalog_li"
              src="./img/catalog/Tube.jpg"
              alt="Tube"
              srcset="./img/catalog/Tube.jpg 1x, ./img/catalog/Tube2x.jpg 2x"
              width="276"
              height="274"
            />
            <p class="watch_brand">Tube Watch S42 Date Steel With Black Case</p>
            <span class="price_catalog">€395</span>
          </div>
          <div class="back-side">
            <p class="card-title">DESCRIPTION</p>
            <p class="card-desc">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="card-title2">DETAILS & FEATURESTION</p>
            <p class="card-desc2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
      </li>
      <li class="wrist_watch">
        <div class="card-container" data-2>
          <div class="front-side">
            <img
              class="watch_catalog_li"
              src="./img/catalog/Avondale.jpg"
              alt="Avondale"
              srcset="
                ./img/catalog/Avondale.jpg   1x,
                ./img/catalog/Avondale2x.jpg 2x
              "
              width="276"
              height="274"
            />
            <p class="watch_brand">Avondale Watch Police For Men</p>
            <span class="price_catalog">€800</span>
          </div>
          <div class="back-side">
            <p class="card-title">DESCRIPTION</p>
            <p class="card-desc">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="card-title2">DETAILS & FEATURESTION</p>
            <p class="card-desc2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
      </li>
      <li class="wrist_watch">
        <div class="card-container" data-3>
          <div class="front-side">
            <img
              class="watch_catalog_li"
              src="./img/catalog/1Diver.jpg"
              alt="1Diver"
              srcset="
                ./img/catalog/1Diver.jpg   1x,
                ./img/catalog/1Diver2x.jpg 2x
              "
              width="276"
              height="274"
            />
            <p class="watch_brand">Diver 300M Co‑Axial Master Chronograph</p>
            <span class="price_catalog">€600</span>
          </div>
          <div class="back-side">
            <p class="card-title">DESCRIPTION</p>
            <p class="card-desc">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="card-title2">DETAILS & FEATURESTION</p>
            <p class="card-desc2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
      </li>
      <li class="wrist_watch">
        <div class="card-container" data-4>
          <div class="front-side">
            <img
              class="watch_catalog_li"
              src="./img/catalog/2Diver.jpg"
              alt="2Diver"
              srcset="
                ./img/catalog/2Diver.jpg   1x,
                ./img/catalog/2Diver2x.jpg 2x
              "
              width="276"
              height="274"
            />
            <p class="watch_brand">Diver 300M Co‑Axial Master Chronometer</p>
            <span class="price_catalog">€1400</span>
          </div>
          <div class="back-side">
            <p class="card-title">DESCRIPTION</p>
            <p class="card-desc">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="card-title2">DETAILS & FEATURESTION</p>
            <p class="card-desc2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
      </li>
      <li class="wrist_watch">
        <div class="card-container" data-5>
          <div class="front-side">
            <img
              class="watch_catalog_li"
              src="./img/catalog/Taman.jpg"
              alt="Taman"
              srcset="./img/catalog/Taman.jpg 1x, ./img/catalog/Taman2x.jpg 2x"
              width="276"
              height="274"
            />
            <p class="watch_brand">Tube Watch S42 Date Steel With Black Case</p>
            <span class="price_catalog">€500</span>
            <svg class="heart-icon" width="20.9" height="18.2">
              <use href="./img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="back-side">
            <p class="card-title">DESCRIPTION</p>
            <p class="card-desc">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="card-title2">DETAILS & FEATURESTION</p>
            <p class="card-desc2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
      </li>
      <li class="wrist_watch">
        <div class="card-container" data-6>
          <div class="front-side">
            <img
              class="watch_catalog_li"
              src="./img/catalog/Malawi.jpg"
              alt="Malawi"
              srcset="
                ./img/catalog/Malawi.jpg   1x,
                ./img/catalog/Malawi2x.jpg 2x
              "
              width="276"
              height="274"
            />
            <p class="watch_brand">Malawi Watch Police For Men</p>
            <span class="price_catalog">€555</span>
            <svg class="heart-icon" width="21" height="18">
              <use href="./img/sprite.svg#heart"></use>
            </svg>
          </div>
          <div class="back-side">
            <p class="card-title">DESCRIPTION</p>
            <p class="card-desc">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="card-title2">DETAILS & FEATURESTION</p>
            <p class="card-desc2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
      </li>
      <li class="wrist_watch">
        <div class="card-container" data-7>
          <div class="front-side">
            <img
              class="watch_catalog_li"
              src="./img/catalog/3Diver.jpg"
              alt="3Diver"
              srcset="
                ./img/catalog/3Diver.jpg   1x,
                ./img/catalog/3Diver2x.jpg 2x
              "
              width="276"
              height="274"
            />
            <p class="watch_brand">Diver 300M Co-Axial Master Chronometer</p>
            <span class="price_catalog">€1200</span>
          </div>
          <div class="back-side">
            <p class="card-title">DESCRIPTION</p>
            <p class="card-desc">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="card-title2">DETAILS & FEATURESTION</p>
            <p class="card-desc2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
      </li>
      <li class="wrist_watch">
        <div class="card-container" data-8>
          <div class="front-side">
            <img
              class="watch_catalog_li"
              src="./img/catalog/Greenland.jpg"
              alt="Greenland"
              srcset="
                ./img/catalog/Greenland.jpg   1x,
                ./img/catalog/Greenland2x.jpg 2x
              "
              width="276"
              height="274"
            />
            <p class="watch_brand">Greenlane Watch By Police For Men</p>
            <span class="price_catalog">€1000</span>
          </div>
          <div class="back-side">
            <p class="card-title">DESCRIPTION</p>
            <p class="card-desc">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="card-title2">DETAILS & FEATURESTION</p>
            <p class="card-desc2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
      </li>
      <li class="wrist_watch specially_catalog">
        <div class="card-container" data-9>
          <div class="front-side">
            <img
              class="watch_catalog_li"
              src="./img/catalog/Squardrs.jpg"
              alt="Squardrs"
              srcset="
                ./img/catalog/Squardrs.jpg   1x,
                ./img/catalog/Squardrs2x.jpg 2x
              "
              width="276"
              height="274"
            />
            <p class="watch_brand">Squardrc 5402 Chrono</p>
            <span class="price_catalog">€359</span>
          </div>
          <div class="back-side">
            <p class="card-title">DESCRIPTION</p>
            <p class="card-desc">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="card-title2">DETAILS & FEATURESTION</p>
            <p class="card-desc2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
      </li>
      <li class="wrist_watch specially_catalog">
        <div class="card-container" data-10>
          <div class="front-side">
            <img
              class="watch_catalog_li"
              src="./img/catalog/4Diver.jpg"
              alt="4Diver"
              srcset="
                ./img/catalog/4Diver.jpg   1x,
                ./img/catalog/4Diver2x.jpg 2x
              "
              width="276"
              height="274"
            />
            <p class="watch_brand">Diver 300M Co‑Axial Master</p>
            <span class="price_catalog">€400</span>
          </div>
          <div class="back-side">
            <p class="card-title">DESCRIPTION</p>
            <p class="card-desc">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="card-title2">DETAILS & FEATURESTION</p>
            <p class="card-desc2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
      </li>
      <li class="wrist_watch specially_catalog" data-11>
        <div class="card-container">
          <div class="front-side">
            <img
              class="watch_catalog_li"
              src="./img/catalog/Citizen.jpg"
              alt="Citizen"
              srcset="
                ./img/catalog/Citizen.jpg   1x,
                ./img/catalog/Citizen2x.jpg 2x
              "
              width="276"
              height="274"
            />
            <p class="watch_brand">Citizen</p>
            <span class="price_catalog">€519</span>
          </div>
          <div class="back-side">
            <p class="card-title">DESCRIPTION</p>
            <p class="card-desc">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="card-title2">DETAILS & FEATURESTION</p>
            <p class="card-desc2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
      </li>
      <li class="wrist_watch specially_catalog">
        <div class="card-container" data-12>
          <div class="front-side">
            <img
              class="watch_catalog_li"
              src="./img/catalog/Armani.jpg"
              alt="Armani"
              srcset="
                ./img/catalog/Armani.jpg   1x,
                ./img/catalog/Armani2x.jpg 2x
              "
              width="276"
              height="274"
            />
            <p class="watch_brand">Armani Exchange</p>
            <span class="price_catalog">€400</span>
          </div>
          <div class="back-side">
            <p class="card-title">DESCRIPTION</p>
            <p class="card-desc">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="card-title2">DETAILS & FEATURESTION</p>
            <p class="card-desc2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
      </li>
    </ul>
    <button class="watch_btn_catalog" type="button" data-modal-open>Buy now</button>
  </div>
</section>
