<footer class="footer">
    <div class="footer-container">
        <div class="footer-inner">
            <div class="footer-contact">
                <a href="./index.html">
                    <img class="footer-link" src="./public/logo.svg" alt="logo">
                </a>
                <a href="tel:+380684439426" class="footer-tel">
                    +380 (68) 443-94-26
                </a>
                <address class="footer-address">
                    <a href="https://goo.gl/maps/Kxg4jneiUicrkkvv9" class="footer-address-link" target="_blank">
                        1678 S. Pioneer Road
						Salt Lake City </br>
						UT 84104
                    </a>
                </address>
            </div>
            <ul class="footer-category">
                <li>
                    <a href="" class="footer-category-link">About Us</a>
                </li>
                <li>
                    <a href="" class="footer-category-link">Catalog</a>
                </li>
                <li>
                    <a href="" class="footer-category-link">Sale</a>
                </li>
            </ul>
            <ul class="footer-social-list">
                <li>
                    <a href="https://www.facebook.com/" class="footer-social-link" target="_blank">
                        <svg width="8" height="20">
                            <use href="./img/sprite.svg#icon-facebook">
                            </use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" class="footer-social-link" target="_blank">
                        <svg width="22" height="22">
                            <use href="./img/sprite.svg#icon-insta">
                            </use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" class="footer-social-link" target="_blank">
                        <svg width="25" height="18">
                            <use href="./img/sprite.svg#icon-youtube">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-copy">
            <p class="footer-copy-text">
                ©2022 The Watch Spot. All rights reserved.
            </p>
            <p class="footer-copy-text">
                Privacy Policy
					<span>Terms of Service</span>
            </p>
        </div>
    </div>
</footer>