<header>
    <div class="header-container header">
       <nav>
        <a href="./index.html" class="header-logo-link">
           <p class="header-logo-text">thewatchspot</p>
        </a>
        <ul class="nav-list">
            <li class="nav-list-item"><a href="#about" class="nav-link">About us</a></li>
            <li class="nav-list-item"><a href="#catalog" class="nav-link">Catalog</a></li>
            <li class="nav-list-item"><a href="#sale" class="nav-link">sale</a></li>
        </ul>
       </nav>
        <a href="tel:+380 (68) 443-94-26" class="header-tel">
            +380 (68) 443-94-26
        </a>
        <button class="burger-menu" data-menu-open>
            <svg width="24" height="24" class="burger-icon">
                <use href="./img/sprite.svg#menu"></use>
            </svg>
        </button>
    </div>
</header>