<header>
    <div class="header-container header">
       <nav>
        <a href="" class="header-logo-link">
            <svg class="header-logo-icon">
                <use href="../img/sprite.svg#icon-logo-2"></use>
            </svg>
           <p class="header-logo-text">thewatchspot</p>
        </a>
        <ul class="nav-list">
            <li class="nav-list-item"><a href="" class="nav-link">About us</a></li>
            <li class="nav-list-item"><a href="" class="nav-link">Catalog</a></li>
            <li class="nav-list-item"><a href="" class="nav-link">sale</a></li>
        </ul>
       </nav>
        <a href="tel:+380 (68) 443-94-26" class="header-tel">
            +380 (68) 443-94-26
        </a>
        <button class="burger-menu">
            <svg width="24" height="24" class="burger-icon">
                <use href="../img/sprite.svg#menu"></use>
            </svg>
        </button>
    </div>
</header>