<section class="hero">
	<div class="hero-container">
		<h1 class="hero-title">Welcome to our collection of premium watches</h1>
		
			<div class="hero-swiper">
				<div class="swiper mySwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="swiper-slide-image">
								<picture>
									<source srcset="./img/swiper/dextop-swiper-1.jpg 1x,
												./img/swiper/dextop-swiper-1@2.jpg 2x" media="(min-width: 768px)" />
									<source srcset="./img/swiper/mobile-swiper-1.jpg 1x,
												./img/swiper/mobile-slider-1@2.jpg 2x" media="(max-width: 767px)" />
									<img src="./img/swiper/mobile-swiper-1.jpg" alt="watch" width="226" />
								</picture>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper-slide-image">
								<picture>
									<source srcset="./img/swiper/dextop-swiper-2.jpg 1x,
												./img/swiper/dextop-swiper-2@2.jpg 2x" media="(min-width: 768px)" />
									<source srcset="./img/swiper/mobile-swiper-2.jpg 1x,
												./img/swiper/mobile-slider-2@2.jpg 2x" media="(max-width: 767px)" />
									<img src="./img/swiper/mobile-swiper-2.jpg" alt="watch" width="226" />
								</picture>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper-slide-image">
								<picture>
									<source srcset="./img/swiper/dextop-swiper-3.jpg 1x,
												./img/swiper/dextop-swiper-3@2.jpg 2x" media="(min-width: 768px)" />
									<source srcset="./img/swiper/mobile-swiper-3.jpg 1x,
												./img/swiper/mobile-slider-3@2.jpg 2x" media="(max-width: 767px)" />
									<img src="./img/swiper/mobile-swiper-3.jpg" alt="watch" width="226" />
								</picture>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper-slide-image">
								<picture>
									<source srcset="./img/swiper/dextop-swiper-4.jpg 1x,
												./img/swiper/dextop-swiper-4@2.jpg 2x" media="(min-width: 768px)" />
									<source srcset="./img/swiper/mobile-swiper-4.jpg 1x,
												./img/swiper/mobile-slider-4@2.jpg 2x" media="(max-width: 767px)" />
									<img src="./img/swiper/mobile-swiper-4.jpg" alt="watch" width="226" />
								</picture>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper-slide-image">
								<picture>
									<source srcset="./img/swiper/dextop-swiper-5.jpg 1x,
												./img/swiper/dextop-swiper-5@2.jpg 2x" media="(min-width: 768px)" />
									<source srcset="./img/swiper/mobile-swiper-5.jpg 1x,
												./img/swiper/mobile-slider-5@2.jpg 2x" media="(max-width: 767px)" />
									<img src="./img/swiper/mobile-swiper-5.jpg" alt="watch" width="226" />
								</picture>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-nav">
					<div class="swiper-btn">
						<div class="button-prev">
							<svg class="left-icon" width="32" height="32">
								<use href="./img/sprite.svg#left-btn"></use>
							</svg>
						</div>
						<div class="button-next">
							<svg class="right-icon" width="32" height="32">
								<use href="./img/sprite.svg#right-btn"></use>
							</svg>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		<p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and
			lifestyle.
			From classic designs to
			modern ones, we have a watch to suit every taste and occasion.</p>

			<picture class="hero-picture">
				<source srcset="./img/hero/hero_desk_1x.jpg 1x, ./img/hero/hero_desk_2x.jpg 2x" media="(min-width: 1280px)">
				<source srcset="./img/hero/hero_tab_1x.jpg 1x, ./img/hero/hero_tab_2x.jpg 2x" media="(min-width: 768px)">
				<source srcset="./img/hero/hero_mob_1x.jpg 1x, ./img/hero/hero_mob_2x.jpg 2x" media="(max-width: 767px)">
				<img src="./img/hero/hero_tab_1x.jpg" alt="Watch on hand" width="704" height="410">
			</picture>

	</div>
</section>