<div class="mob-menu is-hidden" data-menu>
    <div class="mob-menu-logo-title">
       <a href="./index.html" class="mob-logo"><img srcset="./public/logo.svg" class="menu-logo-icon" src="./images/computer.jpg" alt="logo" width="14"
        height="14" />
<p class="mob-menu-text-logo">thewatchspot</p></a>
        <button type="button" class="mob-menu-close-btn" data-menu-close>
            <svg class="mob-menu-btn-icon" width="24" height="24">
            <use href="./img/sprite.svg#close-btn"></use></svg>
        </button>
    </div>
    <div class="mob-menu-wrap">
        <ul class="mob-menu-list list">
            <li class="mob-menu-item" data-menu-open><a class="mob-menu-link link" href="#about">About us</a></li>
            <li class="mob-menu-item" data-menu-open><a class="mob-menu-link link" href="#catalog">Catalog</a></li>
            <li class="mob-menu-item" data-menu-open><a class="mob-menu-link link" href="#sale">Sale</a></li>
        </ul>
    </div>

</div>
<script src="/src/js/menu.js"></script>