<section class="new-watches-section">
  <div class="new-watches-wrap">
    <h2 class="new-watches_title">New watches</h2>
    <p class="new-watches_text">Green And Bronze—The Match Made In Heaven</p>
    <ul class="new-watches_list">
      <li class="new-watches_item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./img/new-watches/new_watches-desc.jpg 1x, ./img/new-watches/new_watches-desc@2px.jpg 2x"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/new-watches/new_watches-tab.jpg     1x,
              ./img/new-watches/new_watches-tab@2px.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/new-watches/new_watches-mob.jpg     1x,
              ./img/new-watches/new_watches-mob@2px.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            src="./img/new-watches/new_watches-tab.jpg"
            alt="watches on hand"
          />
        </picture>
        
      </li>
      <li class="new-watches_item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/new-watches/black_watches-desc.jpg     1x,
              ./img/new-watches/black_watches-desc@2px.jpg 2x
            "
            type="image/jpg"
          />
          <source
            srcset="
              ./img/new-watches/black_watches-tab.jpg     1x,
              ./img/new-watches/black_watches-tab@2px.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/new-watches/black_watches-mob.jpg     1x,
              ./img/new-watches/black_watches-mob@2px.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpg"
          />
          <img
            src="./img/new-watches/black_watches-tab.jpg"
            alt=" black watches "
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
