
<link rel="stylesheet" href="../css/sale.css">

<div class="section-sale">
    <h2 class="title-sale">Sale</h2>
    <div class="gallery-sale">
        <ul class="gallery-sale-list list">
            <li class="gallery-sale-item"><img src="../img/sale/mob/clock1-mob.jpeg" alt="clock in front" width="80"></li>
            <li class="gallery-sale-item"><img src="../img/sale/mob/clock2-mob.jpeg" alt="clock from the side" width="80">
            </li>
            <li class="gallery-sale-item"><img src="../img/sale/mob/clock3-mob.jpeg" alt="clock behind" width="80"></li>
            <li class="gallery-sale-item"><img src="../img/sale/mob/clock4-mob.jpeg" alt="clock face" width="80"></li>
        </ul>
        <img class="gallery-sale-img" src="../img/sale/mob/bigclock-mob.jpeg" alt="big clock" width="235">
    </div>
    <div class="subtitle-text-sale">
        <h3 class="subtitle-sale">Greenlane Watch By Police For MenHT</h3>
        <p class="subtitle-text-sale">Product tag: PEWJK2227003</p>
        <p class="sale-price-sale">€700</p>
        <p class="regular-price-sale">€1000</p>
    </div>
    <div class="description-sale-div">
        <h4 class="description-sub-sale">Description</h4>
        <p class="description-text-sale"> Richly detailed with an understated design - the Police Men’s Greenlane watch
            features a versatile multifunction design
            that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The
            timepiece
            exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>
    </div>
    <div class="details-sale-div">
        <h4 class="details-sub-sale">DETAILS & FEATUREStion</h4>
        <ul class="details-list list">
            <li class="details-item">Gender: man</li>
            <li class="details-item">Size: 46x54.5mm</li>
            <li class="details-item">Case Colour: Steel</li>
            <li class="details-item">Band Material: Metal</li>
            <li class="details-item">Case Material: Metal</li>
            <li class="details-item">Features: Multifunction</li>
            <li class="details-item">Water Resistant: 5 (ATM)</li>
            <li class="details-item">Band Colour: Steel</li>
        </ul>
    </div>
</div>



