<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="swiper-slide-image">
            <picture>
                <source srcset="./img/slide-img1-2x.png 2x" type="image/png" />
                <img src="./img/slide-img1.png 2x" alt="Годинник" />
            </picture>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-image">
                <source srcset="./img/slide-img2-2x.png 2x" type="image/png" />
                <img src="./img/slide-img2.png" alt="Годинник" />
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-image">
                <source srcset="./img/slide-img3-2x.png 2x" type="image/png" />
                <img src="./img/slide-img3.png" alt="Годинник" />
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-image">
                <source srcset="./img/slide-img4-2x.png 2x" type="image/png" />
                <img src="./img/slide-img4.png" alt="Годинник" />
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-image">
                <source srcset="./img/slide-img5-2x.png 2x" type="image/png" />
                <img src="./img/slide-img5-2x.png" alt="Годинник" />
            </div>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="button-next"></div>
    <div class="button-prev"></div>
</div>