<div class="swiper-container">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-slide-image">
          <img
            srcset="./img/slide-img1-2x.png 2x"
            src="./img/slide-img1.png"
            alt="Годинник"
            width="226"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide-image">
          <img
            srcset="./img/slide-img2-2x.png 2x"
            src="./img/slide-img2.png"
            alt="Годинник"
            width="226"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide-image">
          <img
            srcset="./img/slide-img3-2x.png 2x"
            src="./img/slide-img3.png"
            alt="Годинник"
            width="226"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide-image">
          <img
            srcset="./img/slide-img4-2x.png 2x"
            src="./img/slide-img4.png"
            alt="Годинник"
            width="226"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide-image">
          <img
            srcset="./img/slide-img5-2x.png 2x"
            src="./img/slide-img5.png"
            alt="Годинник"
            width="226"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-nav">
    <div class="swiper-btn">
      <div class="button-prev">
        <svg class="left-icon" width="32" height="32">
          <use href="./img/sprite.svg#left-btn"></use>
        </svg>
      </div>
      <div class="button-next">
        <svg class="right-icon" width="32" height="32">
          <use href="./img/sprite.svg#right-btn"></use>
        </svg>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
