/* ------MOBILE------ */
.header-logo-link::before {
  content: ' ';
  background-image: url(../public/logo.svg);
  width: 14px;
  height: 14px;
}

.header-logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

.header-container {
  max-width: 375px;

  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 29px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo-text {
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;

  color: var(--white-color);
}

.header-logo-link {
  display: flex;
  gap: 4px;
  align-items: center;
}

.burger-menu {
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.burger-icon {
  fill: var(--white-color);
}

/* ------TABLET------ */
.nav-list {
  display: none;
  gap: 40px;
  margin-left: 80px;
}

.header-tel {
  display: none;
  font-size: 9px;
  line-height: 1.33;
  padding: 18px 36px;
  margin-left: auto;

  text-transform: uppercase;
  transition: border-color 350ms cubic-bezier(0.165, 0.84, 0.44, 1);

  color: var(--white-color);

  background-color: var(--dark-green-color);
  border-radius: 8px;
  border: 1px solid;
  border-color: transparent;
  cursor: pointer;
}

.header-tel:hover {
  border-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
  }
  .burger-menu {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .header-tel {
    display: block;
  }

  .header-logo-icon {
    width: 19px;
    height: 19px;
  }

  .header-logo-link::before {
    width: 19px;
    height: 19px;
  }
}

.nav-list-item {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-list-item:hover {
  opacity: 0.5;
  transform: scale(1.2);
}

.nav-link {
  font-size: 9px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--white-color);
  padding: 12px 0;
}

nav {
  display: flex;
  align-items: center;
}

/* ------DESKTOP------ */

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
    padding-left: 52px;
    padding-right: 52px;
  }

  .nav-link {
    letter-spacing: 0.02em;
  }
}
