/* ------------------MOBILE------------------------- */
.hero {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 122px;
	padding-bottom: 40px;
	background-color: var(--black-color);
}

.hero-container {
	display: flex;
	flex-wrap: wrap;

	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.hero-title {
	max-width: 335px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;

	color: var(--white-color);

	font-weight: 600;
	font-size: 38px;
	line-height: 1.05;
	letter-spacing: -0.04em;
}

.hero-box {
	margin-bottom: 40px;
}

.hero-slider {
	max-width: 266px;
	margin-right: auto;
	margin-bottom: 40px;
}

.slider-picture {
	display: block;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--dark-green-color);
}

.slider-pagination {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.slider-btn-list {
	display: flex;
}

.slider-btn-item {
	height: 32px;
}

.slider-btn-item:not(:last-child) {
	margin-right: 12px;
}

.slider-btn {
	background-color: transparent;
	border: none;
	padding: 0;
	height: 32px;
	color: var(--white-color);
	opacity: 0.5;

	transform: scale(1);
	transition: transform 250ms linear;
}

.slider-btn:focus {
	opacity: 1;
	outline: none;
	transform: scale(1.1);
}

.slider-numbers-list {
	display: flex;
}

.slider-number-item {
	position: relative;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;

	color: var(--white-color);
}

.slider-number-item:not(:last-child) {
	margin-right: 44px;
}

.after.slider-number-item::after {
	content: '';

	position: absolute;
	top: 50%;
	left: calc(100% + 6px);

	transform: translateY(-50%);

	width: 32px;
	height: 1px;

	background-color: var(--white-color);
}

.hero-text {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	color: var(--white-color);

	display: block;
	max-width: 248px;
	height: 108px;
	margin-left: auto;
	margin-bottom: 40px;
}

@media screen and (min-width: 375px) {

	.hero-container {
		width: 375px;
	}
}

/* ################################################## */
/* --------------------TABLET-------------------------- */
@media screen and (min-width: 768px) {

	.hero {
		padding-top: 148px;
		padding-bottom: 64px;
	}

	.hero-container {
		width: 768px;
		padding-left: 32px;
		padding-right: 32px;
	}

	.hero-title {
		min-width: 653px;
		height: auto;

		margin-left: 0;

		font-size: 60px;
		line-height: 1.03;
	}

	.hero-slider {
		min-width: 436px;
	}

	.slider-pagination {
		margin-bottom: 0;
	}

	.slider-btn-item {
		width: 40px;
		height: 40px;
	}

	.slider-btn {
		width: 40px;
		height: 40px;
	}

	.slider-icon {
		width: 40px;
		height: 40px;
	}

	.hero-text {
		margin-bottom: 137px;
		align-self: center;
	}


	.hero-image {
		width: 704px;
		height: 410px;
	}
}

/* ##################################################### */
/* -------------------DESKTOP------------------------- */
@media screen and (min-width: 1280px) {

	.hero {
		padding-bottom: 80px;
	}

	.hero-container {
		width: 1280px;
		padding-left: 52px;
		padding-right: 52px;
	}

	.hero-title {
		max-width: 750px;
		order: -2;
	}

	.hero-text {
		max-width: 282px;
		height: 90px;
		order: -1;
	}

	.hero-slider {
		max-height: 315px;
		margin-bottom: 0;
		margin-right: 63px;
		align-self: flex-end;
	}

	.slider-btn:hover {
		opacity: 1;
		outline: none;
		transform: scale(1.1);
	}

	.hero-picture {
		max-width: 676px;
	}
}