/* ------------------MOBILE------------------------- */
.hero {
	width: 100%;
	padding-top: 122px;
	padding-bottom: 40px;
	background-color: var(--black-color);
}

.hero-container {
	display: flex;
	flex-wrap: wrap;

	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.hero-title {
	margin-bottom: 60px;

	color: var(--white-color);

	font-family: var(--Epilogue-SemiBold);
	font-size: 38px;
	line-height: 1.05;
	letter-spacing: -0.04em;
}

.hero-text {
	font-family: var(--Epilogue-Light);
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	color: var(--white-color);

	max-width: 248px;
	margin-left: auto;
	margin-bottom: 40px;
}

@media screen and (min-width: 375px) {

	.hero-container {
		width: 375px;
	}
}

/* ################################################## */
/* --------------------TABLET-------------------------- */
@media screen and (min-width: 768px) {

	.hero {
		padding-top: 148px;
		padding-bottom: 64px;
	}

	.hero-container {
		width: 768px;
		padding-left: 32px;
		padding-right: 32px;
	}

	.hero-title {
		min-width: 653px;
		height: auto;

		margin-left: 0;

		font-size: 60px;
		line-height: 1.03;
	}

	.hero-text {
		margin-bottom: 137px;
		align-self: center;
	}
}

/* ##################################################### */
/* -------------------DESKTOP------------------------- */
@media screen and (min-width: 1280px) {

	.hero {
		padding-bottom: 80px;
	}

	.hero-container {
		width: 1280px;
		padding-left: 52px;
		padding-right: 52px;
	}

	.hero-title {
		max-width: 750px;
		order: -2;
	}

	.hero-text {
		max-width: 282px;
		height: 90px;
		order: -1;
	}

	.hero-picture {
		max-width: 676px;
	}
}