.new-watches-section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.new-watches-wrap {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .new-watches-wrap {
    width: 375px;
  }
}

/* ################################################## */
/* --------------------TABLET-------------------------- */
@media screen and (min-width: 768px) {
  .new-watches-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .new-watches-wrap {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* ##################################################### */
/* -------------------DESKTOP------------------------- */

@media screen and (min-width: 1280px) {
  .new-watches-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .new-watches-wrap {
    width: 1280px;
    padding-left: 52px;
    padding-right: 52px;
  }
}

.new-watches_title {
  margin-bottom: 8px;

  font-family: var(--Epilogue-Light);
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.06em;

  text-align: start;
  color: rgba(20, 20, 20, 0.4);
}

.new-watches_text {
  margin-bottom: 40px;
  font-family: var(--Epilogue-SemiBold);
  font-size: 36px;
  line-height: 1.1111;
  letter-spacing: -0.02em;

  text-align: start;
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .new-watches_text {
    width: 448px;
    font-family: var(--Epilogue-SemiBold);
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: var(--dark-green-color);
  }
}

@media screen and (min-width: 1280px) {
  .new-watches_text {
    margin-bottom: 80px;
  }
}

.new-watches_list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .new-watches_list {
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .new-watches_list {
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
  }
}

.new-watches_list .new-watches_item img {
  width: 335px;
  height: 260px;
}
@media screen and (min-width: 768px) {
  .new-watches_list .new-watches_item img {
    width: 342px;
  }
}
@media screen and (min-width: 1280px) {
  .new-watches_list .new-watches_item img {
    width: 576px;
    height: 422px;
  }
}

.new-watches_item {
  margin-bottom: 20px;
}

.new-watches_item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .new-watches_item {
    flex-basis: calc((100% - 20px) / 2);
    margin: 0 auto 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .new-watches_item {
    flex-basis: calc((100% - 24px) / 2);
    margin: 0 auto 0 auto;
  }
}
