/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Epilogue-Regular', sans-serif;
}
:root {
  --Epilogue-Light: 'Epilogue-Light', sans-serif;
  --Epilogue-SemiBold: 'Epilogue-SemiBold', sans-serif;
  --white-color: #ffffff;
  --black-color: #141414;
  --dark-green-color: #1e2827;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
