:root {}




/* ==================================SALE==================================*/

.sale-container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (min-width: 768px) {

    .sale-container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .sale-container {
        max-width: 1280px;
        padding-left: 132px;
        padding-right: 132px;
    }
}


.sale-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: var(--black-color);

    margin-bottom: 40px;
}

.sale-gallery {
    display: flex;
    gap: 20px;

    margin-bottom: 40px;
}

/* .sale-img {
    background-color: #141414;
    
} */

.sale-gallery-item {
    margin-bottom: 10px;
}


.sale-gallery-item:last-child {
    margin-bottom: 0;
}

.sale-subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.0;
    letter-spacing: -0.02em;
    color: var(--black-color);

    margin-bottom: 8px;
}

.sale-subtitle-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);

    margin-bottom: 16px;
}

.sale-price-sale {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: var(--black-color);

    display: flex;
    align-items: center;

    margin-bottom: 40px;
}

.sale-regular-price {
    font-weight:400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: rgba(20, 20, 20, 0.5);

    margin-left: 8px;
}


.sale-description-sub::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--black-color);
    border-radius: 2px;
    display: block;

    margin-bottom: 8px;

}

.sale-description-sub {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black-color);

    margin-bottom: 17px;

    position: relative;
}

.sale-description-sub::after {
    content: '';
    width: 16px;
    height: 1px;
    background-color: var(--black-color);
    border-radius: 2px;
    display: block;
    position: absolute;
    top: 13px;
    right: 0;

}

.sale-description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(20, 20, 20, 0.5);

    margin-bottom: 40px;
}

.sale-details-div::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--black-color);
    border-radius: 2px;
    display: block;

    margin-bottom: 8px;
}

.sale-details-sub {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black-color);

    margin-bottom: 17px;

    position: relative;
}

.sale-details-sub::after {
    content: '';
    width: 16px;
    height: 1px;
    background-color: var(--black-color);
    border-radius: 2px;
    display: block;
    position: absolute;
    top: 13px;
    right: 0;
}

.sale-details-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(20, 20, 20, 0.5);
}

@media screen and (min-width: 768px) {

    .sale-title {
        font-size: 40px;
        line-height: 1.1;
        color: var(--dark-green-color);
    }

    .sale-content-div {
        padding-left: 66px;
        padding-right: 66px;
    }

    .sale-subtitle {
        font-size: 38px;
        line-height: 1.05;
    }

}

@media screen and (min-width: 1280px) {

    .sale-content-div {
        display: flex;
        gap: 40px;

        padding-left: 97px;
        padding-right: 98px;
    }

    .sale-gallery {
        height: 614px;
    }

    .sale-description-div {
        width: 369px;
    }
}