
/* ==================================SALE==================================*/

.sale-section {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 40px;
	padding-bottom: 80px;
}

.sale-container {
	width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 375px) {

	.sale-container {
		width: 375px;
	}
}

@media screen and (min-width: 768px) {
	.sale-section {
		padding-top: 64px;
		padding-bottom: 128px;
	}

    .sale-container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
	.sale-section {
		padding-top: 80px;
		padding-bottom: 160px;
	}

    .sale-container {
        width: 1280px;
        padding-left: 52px;
        padding-right: 52px;
    }
}


.sale-title {
    font-family: var(--Epilogue-SemiBold);
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: var(--black-color);

    margin-bottom: 40px;
}

.sale-gallery {
    display: flex;
    gap: 20px;

    margin-bottom: 40px;
}


.sale-gallery-item {
    margin-bottom: 10px;
}


.sale-gallery-item:last-child {
    margin-bottom: 0;
}

.sale-subtitle {
    font-size: 24px;
    line-height: 1.0;
    letter-spacing: -0.02em;
    color: var(--black-color);

    margin-bottom: 8px;
}

.sale-subtitle-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);

    margin-bottom: 16px;
}

.sale-price {
    display: flex;
    align-items: baseline;

    margin-bottom: 40px;
}

.sale-price-sale {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: var(--black-color);

}

.sale-regular-price {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: rgba(20, 20, 20, 0.5);

    margin-left: 8px;
}

.sale-description-div {
    margin-bottom: 40px;
}

.sale-description-sub::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--black-color);
    border-radius: 2px;
    display: block;

    margin-bottom: 8px;

}

.sale-description-sub {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black-color);

    margin-bottom: 17px;

    position: relative;
}

.sale-description-sub::after {
    content: '';
    width: 16px;
    height: 1px;
    background-color: var(--black-color);
    border-radius: 2px;
    display: block;
    position: absolute;
    top: 13px;
    right: 0;

}

.sale-description-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(20, 20, 20, 0.5);

}

.sale-details-div::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--black-color);
    border-radius: 2px;
    display: block;

    margin-bottom: 8px;
}

.sale-details-sub {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black-color);

    margin-bottom: 17px;

    position: relative;
}

.sale-details-sub::after {
    content: '';
    width: 16px;
    height: 1px;
    background-color: var(--black-color);
    border-radius: 2px;
    display: block;
    position: absolute;
    top: 13px;
    right: 0;
}

.sale-details-item {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(20, 20, 20, 0.5);
}

@media screen and (min-width: 768px) {

    .sale-title {
        font-size: 40px;
        line-height: 1.1;
        color: var(--dark-green-color);
    }

    .sale-content-div {
        padding-left: 66px;
        padding-right: 66px;
    }

    .sale-subtitle {
        font-size: 38px;
        line-height: 1.05;
    }


}

@media screen and (min-width: 1280px) {

    .sale-content-div {
        padding-left: 97px;
        padding-right: 97px;
    }

    .sale-gallery {
        width: 572px;
        margin-bottom: 0;
        margin-right: 0;
    }

    .sale-content-div {
        display: flex;
        gap: 40px;
    }

    .sale-description-div {
        width: 369px;
    }

}

