/* ==================================SALE==================================*/

.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 132px;
        padding-right: 132px;
    }
}





.title-sale {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #141414;

    margin-bottom: 40px;
}

.gallery-sale {
    display: flex;
    gap: 10px;

    margin-bottom: 40px;
}

.gallery-sale-item {
    margin-bottom: 10px;
}
/* 
.img1-sale {
    background-image: #141414;
    width: 100%;
} */

.gallery-sale-item:last-child {
    margin-bottom: 0;
}

.subtitle-sale {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.0;
    letter-spacing: -0.02em;
    color: #141414;
    
    margin-bottom: 8px;
}

.subtitle-text-sale{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);

    margin-bottom: 16px;
}

.sale-price-sale {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: #141414;

    display: flex;
    align-items: center;
}

.regular-price-sale {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: rgba(20, 20, 20, 0.5);

    margin-left: 8px;
}

.description-sale-div {

}
    

.description-sale-div::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #141414;
    border-radius: 2px;
    display: inline-block;

    margin-bottom: 8px;

}

.description-sub-sale {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #141414;

    margin-bottom: 17px;

    position: relative;
}

.description-sub-sale::after{
    content: '';
    width: 16px;
    height: 1px;
    background-color: #141414;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 0;
    
}

.description-text-sale {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(20, 20, 20, 0.5);

    margin-bottom: 40px;
}

.details-sale-div {
    position: relative;
}

.details-sale-div::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #141414;
    border-radius: 2px;
    display: inline-block;
    
    margin-bottom: 8px;
}

.details-sub-sale {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #141414;

    margin-bottom: 17px;

    position: relative;
}

.details-sub-sale::after {
    content: '';
    width: 16px;
    height: 1px;
    background-color: #141414;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 0;
}

.details-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(20, 20, 20, 0.5);
}

@media screen and (min-width: 768px) {

    .title-sale {
        font-size: 40px;
        line-height: 1.1;
        color: #1E2827;
    }

    .content-sale-div {
        padding-left: 66px;
        padding-right: 66px;
    }

    .subtitle-sale {
        font-weight: 400;
        font-size: 38px;
        line-height: 1.05;
        color: #141414;
    }
    
}

@media screen and (min-width: 1280px) {

    .content-sale-div {
        display: flex;
        gap: 40px;
    }





}